version: "3.9"

services:
  postgres_db:
    build:
      context: ../
      dockerfile: Docker/Dockerfile
    container_name: postgres
    restart: always
    env_file:
      - ../.env
    ports:
      - "5431:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    
volumes:
  pgdata:

